<!DOCTYPE html>

<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>URL Shortener Microservice</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <fieldset>
      <legend>URL Shortener</legend>
      <p class="input-explain">Input a valid URL starting with 'http://' or 'https://'. </p>
      <p class="input-explain">If URL is not in system, then a new short url will be assigned to it. Otherwise, saved
        short url for the given URL will be displayed.</p>
      <p class="input-explain">Input Number in Right field to go to URL associated with submitted Number as short url.
      </p>
      <div id="input-container">      
      <form action="api/shorturl" method="POST" id="url-input-form">
        <label for="url_input" id="url-input-label">URL:</label>
        <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
        <input type="submit" value="POST URL" id="submit-url" class="submit-buttons" />
      </form>
      <!-- <div id="short-url-input-container">
        <label for="short-url-input" id="short-url-input-label">Short URL:</label>
        <input type="number" id="short-url-input" value="" name="shortURL"></input><button onclick="callAPI()"
          id="go-button" class="submit-buttons">GO</button>
      </div> -->
      </div>

    </fieldset>

    <!-- <input type="number" id="short-url-input" value=""></input><button onclick="callAPI()" id="go-button" class="submit-buttons">GO</button> -->
    <script id="go-to-shorturl">
      var apiLink;
      function callAPI() {
        var numberInput = document.getElementById("short-url-input");
        apiLink = numberInput.value;
        numberInput.value = "";
        window.location.href = '/api/shorturl/' + apiLink;
      }
    </script>

    <h2>Saved URLs</h2>
    <table id="url-table">
      <tr>
        <th>Original URL</th>
        <th>Short URL</th>
      </tr>
    </table>

    <script id="populate-table">
      $.ajax({
        method: 'GET',
        url: '/api/all',
        success: function (res) {
          practiceArr = res;
          createTable(practiceArr);
          console.log(res);
        }
      })


      function createTable(array) {
        var table = document.getElementById("url-table");
        for (var i = 0; i < array.length; i++) {
          let row =
            `<tr>
          <td>${array[i].original_url}</td>
          <td>${array[i].short_url}</td>
        </tr>`
          table.innerHTML += row;
        }
      }

    </script>
  </body>

</html>
