body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #74C69D;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: c */
  line-height: 1.4em;
}

main {
  padding: 0;
  margin-top: 40px;
}
h1 {
  font-size: 3.5vw;
}

h3 {
  margin-top: 30px;
}

.submit-buttons {
  font-weight: bold;
  background-color: #40916C;
  border-color: #222;
  border-radius: 3px;
  padding: 5px;
}

.input-explain {
  font-size: 1vw;
}

legend {
  font-size: 2vw;
}

#url-input-form {
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
fieldset {
  text-align: center;
  border-width: 3px;
  border-color: #2D6A4F;
  width: 60vw;
  /* margin: auto; */
}


form {
  margin: 10px auto;
  padding: 20px;
  /* max-width: 600px; */
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type='text'] {
  width: 220px;
  text-align: center;
}

#short-url-input {
  width: 40px;
  margin-right: 4px;
}
#short-url-input-label {
  margin-left: 1vw;
}

tr {
  text-align: center;
}
th {
  border: 3px solid black;
}
td {
  border-left: 3px solid black;
}


#url-table {
  background-color: #95D5B2;
  border-collapse: collapse;
  width: 50vw;
  border: 3px solid black;
}