body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #74c69d;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: c */
  line-height: 1.4em;
}

h1 {
  font-size: 3.5vw;
}

.input-explain {
  font-size: 1vw;
}

.submit-buttons {
  font-weight: bold;
  background-color: #40916c;
  border-color: #222;
  border-radius: 3px;
  padding: 5px;
  color: black;
}

legend {
  font-size: 2vw;
}

form {
  margin: 10px auto;
  padding: 20px;
  /* max-width: 600px; */
}

label {
  margin-right: 10px;
}

input {
  margin: 5px;
  padding: 5px;
}

input[type="text"] {
  width: 220px;
  text-align: center;
}

tr {
  text-align: center;
}
th {
  border: 3px solid black;
}
td {
  border-left: 3px solid black;
}

#url-table {
  background-color: #95d5b2;
  border-collapse: collapse;
  width: 50vw;
  border: 3px solid black;
}

fieldset {
  text-align: center;
  border-width: 3px;
  border-color: #2d6a4f;
  width: 60vw;
  /* margin: auto; */
}

#short-url-input {
  width: 40px;
}

#input-container {
  /* border: 3px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

#url-input-form {
  width: 30vw;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}

#short-url-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20vw;
  height: 4vw;
  /* border: 3px solid black; */
}

/* #short-url-input-label {
  margin-left: 1vw;
} */
